.bg-image {
  position: relative;
  background-image: url("https://api.fluro.io/get/5990f07bb9f6ee2594569e63?w=1920&amp;access_token=%242a%2410%24B4J59VQhzlbkneIVKIprB.FVWxDU5.HMCX11nfAKAkssSEcBLZEle&amp;quality=90");
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 42em;
  text-align: center;
}

.homepage-module-button {
  position: absolute;
  width: 14em;
  height: 4em;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 40em) { 
  .bg-image {
    height: 22em;
  }
}