.change-password-form-container {
  margin-top: 100px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#submit-password-change{
  margin-top: 50px;
}

.change-password-input {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}

.redText {
  color: red;
}

.greenText {
  color: green;
}

#password-check-text {
  font-weight: bold;
}