.change-password-form-container {
  margin-top: 100px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#submit-password-change{
  margin-top: 50px;
}

.change-password-input {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}

.redText {
  color: red;
}

.greenText {
  color: green;
}

#password-check-text {
  font-weight: bold;
}

#loader-div {
  display: flex; 
  align-items: center; 
  justify-content: center;
  width: 164px; 
  height: 40px; 
  margin-top: 22px; 
  padding-top: 8px; 
  padding-bottom: 8px; 
  padding-left: 16px; 
  padding-right: 16px;
}