.forget-password-container {
  margin-top: 100px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 500px;
}

.forget-password-form-container {
  max-width: 600px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.forget-password-label {
  padding-left: 1px;
  font-weight: 600;
}

.forget-password-input {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 300;
  height: 30px;
  width: 100%;
}

.forget-password-button-container {
  padding-top: 5px;
  text-align: right;
}

.forget-password-match {
  text-align: right;
  padding-right: 195px;
  color: green;
}

.forget-password-no-match {
  text-align: right;
  padding-right: 195px;
  color: red;
}
