body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.ignite-logo {
  width: 100px;
  height: 60px;
}

.login-button{
  font-size: 20px;
  border: none;
  background: none;
}

.login-button:hover{
  border-bottom-style: solid;
  border-color: #FF7115;
  color: #6ECAF3;
  padding-top: 5px;
  cursor: pointer;
}


.login-button:focus {
  outline: none;
}

.user-button {
  font-size: 20px;
  border-style: solid;
  border-color: #4F5153;
  background: none;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-width: 0.5px;
  font-weight: 100;
}

.annoying-div {
  padding-right: 10%;
}

.annoying-div-2 {
  padding-left: 10%;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.volunteer-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
}

.home-sign-up-button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-up-button {
  border: none;
  background: #FF7115;
  font-size: 20px;
  color: white;
  padding: 20px 50px 20px 50px;
}

.sign-up-button:hover {
  cursor: pointer;
}

.ignite-banner{
  width: 100%;
  height: auto;
  filter: grayscale(20%);
}

.footer {
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: white;
}

body{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding-top: 65px;
}

a {
  text-decoration: none; /* no underline */
}

a:visited {
  text-decoration: none;
}